{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% load crispy_forms_tags %}
{% load casino %}

{% block title %} Kasyno {% endblock %}

{% block scripts %}
<script src="{% static 'casino/js/plugins/bootstrap-notify.js' %}"></script>
<script src="{% static 'casino/js/channel.js' %}"></script>
{% endblock %}

{% block content %}

<main>
    <div class="row text-center text-md-left">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <header>
                       <h3>Twoje pieniądze</h3>
                    </header>
                </div>
                <div class="card-body pt-0">
                    <p>Posiadasz <span id="user_money">{{player.money | format_money}}</span> dogecoinów</p>
                    <p>Posiadasz {{player.legendary_dogecoins | format_money}} legandarnych dogecoinów</p>
                    <p>Twój daily strike wynosi <span id="daily_strike">{{player.daily_strike}}</span></p>
                    {% if player.take_daily == 0 %}
                    <button class="btn btn-success" id="daily_button" type="button">Odbierz daily</button>
                    {% else %}
                    <button class="btn btn-success" id="daily_button_disabled" type="button" disabled>Odebrano dzisiaj daily</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-warning" type="button" id="scratch_button">Kup zdrapke (5 dogów)</button>
                    <p class="mt-1" id="scratch_timeout_p">Możesz odebrać zdrapke</p>
                    <!-- add "fill" (bi-info-circle-fill) in class name if you want fill info icon with color -->
                    <div><i class="bi bi-info-circle" id="scratch_card_info" style="color: red;"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-7 col-md-6">
            <div class="card">
                <div class="card-body">
                    <form id="bet">
                        {% csrf_token %}
                        {{ bet_form | crispy }}
                        <div class="row text-center">
                            <div class="col-12">
                                <button class="btn btn-warning btn-block" id="bet_button" type="submit">Betuj</button>
                            </div>
                            <div class="col-6 col-md-4">
                                <button class="btn btn-primary" type="button" onclick="multiply()">2X</button>
                            </div>
                            <div class="col-6 col-md-4">
                                <button class="btn btn-primary" type="button" onclick="divide()">1/2X</button>
                            </div>
                            <div class="col-12 col-md-4">
                                <button class="btn btn-danger" type="button" onclick="max()">Max</button>
                            </div>
                        </div>
                    </form>
                    <div id="bet_info_div" class="alert" role="alert" hidden><span id="bet_info"></span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-6">
            <div class="card">
                <div class="card-body">
                    <form id="jackpot">
                        {% csrf_token %}
                        {{ jackpot_form | crispy }}
                        <button class="btn btn-warning" id="jackpot_button" type="submit">Kup bilety</button>
                    </form>
                    <p>Twoja liczba biletów: <span id="user_tickets">{{ user_tickets }}</span></p>
                    <p>Suma wszystkich biletów: <span id="total_tickets">{{ total_tickets }}</span></p>
                    <!-- add "fill" (bi-info-circle-fill) in class name if you want fill info icon with color -->
                    <div><i class="bi bi-info-circle" id="jackpot_info" style="color: red;"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Twoje ostatnie bety</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <thead class="text-primary">
                            <tr>
                                <th scope="col">
                                    Data
                                </th>
                                <th scope="col">
                                    Obstawione dogecoiny
                                </th>
                                <th scope="col">
                                    Twoja liczba
                                </th>
                                <th scope="col">
                                    Wylosowana liczba
                                </th>
                                <th scope="col">
                                    Wynik
                                </th>
                                <th class="text-center" scope="col">
                                    Profit dogecoinów
                                </th>
                            </tr>
                            </thead>
                            <tbody id="user_bets_table">
                            {% for bet in user_bets %}
                            <tr>
                                <td>
                                    {{ bet.date | naturaltime }}
                                </td>
                                <td>
                                    {{ bet.amount | floatformat:5}}
                                </td>
                                <td>
                                    {{ bet.user_number }}
                                </td>
                                <td>
                                    {{ bet.drown_number }}
                                </td>
                                <td>
                                    {% if bet.win == "" %}
                                    <span></span>
                                    {% elif bet.win %}
                                    <span class="text-success">Wygrana</span>
                                    {% else %}
                                    <span class="text-danger">Przegrana</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <span class="{% if bet.win %} text-success {% else %} text-danger {% endif %}">{{ bet.money | floatformat:3 }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Ostatnie bety (live)</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter">
                            <thead class="text-primary">
                            <tr>
                                <th scope="col">
                                    Gracz
                                </th>
                                <th scope="col">
                                    Obstawione dogecoiny
                                </th>
                                <th scope="col">
                                    Liczba gracza
                                </th>
                                <th scope="col">
                                    Wylosowana liczba
                                </th>
                                <th scope="col">
                                    Wynik
                                </th>
                                <th class="text-center" scope="col">
                                    Profit dogecoinów
                                </th>
                            </tr>
                            </thead>
                            <tbody id="bets_table">
                            {% for bet in last_bets %}
                            <tr>
                                <td>
                                    {{ bet.player }}
                                </td>
                                <td>
                                    {{ bet.amount | floatformat:5}}
                                </td>
                                <td>
                                    {{ bet.user_number }}
                                </td>
                                <td>
                                    {{ bet.drown_number }}
                                </td>
                                <td>
                                    {% if bet.win %}
                                    <span class="text-success">Wygrana</span>
                                    {% else %}
                                    <span class="text-danger">Przegrana</span>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <span class="{% if bet.win %} text-success {% else %} text-danger {% endif %}">{{ bet.money | floatformat:3 }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- confirm bet with max dogecoins -->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="max bet confirm" aria-hidden="true" id="max_bet_confiramtion_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Czy na pewno chcesz zabetować wszystkimi dogami?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-lg pl-5 pr-5" id="bet_confirm">Tak</button>
                <button type="button" class="btn btn-danger btn-lg pl-5 pr-5" id="bet_cancel">Nie</button>
            </div>
        </div>
    </div>
</div>
<!-- end confirm modal bet with max dogecoins -->

<script src="{% static 'casino/js/casino_ajax.js' %}"></script>
<script src="{% static 'casino/js/update_last_bets_table.js' %}"></script>
<script src="{% static 'casino/js/bet_buttons.js' %}"></script>

<script>
    $(document).ready(function(){
        $("#jackpot_info").tooltip(
            {title: `📑 Zasady:
                    <ul class='text-left'>
                        <li class='text-dark'>Każdy bilet kosztuje 1 dogecoin</li>
                        <li class='text-dark'>Jeden bilet to jeden los</li>
                        <li class='text-dark'>Na końcu dnia jest losowanie, osoba której bilet zostanie wylosowany wygrywa dogecoiny (każdy kupiony bilet zwiększa pule nagród o jeden dogecoin)</li>
                    </ul>`,
            html: true})

        $("#scratch_card_info").tooltip(
            {title: `Możesz odebrać jedną zdrapkę w ciągu 20 minut<br>
                     Nagrody i szansa na ich wygranie:
                     <ul class='text-left'>
                        <li class='text-dark'>0 dogów - 19%</li>
                        <li class='text-dark'>1 dog - 18%</li>
                        <li class='text-dark'>2 dogi - 17%</li>
                        <li class='text-dark'>5 dogów - 15%</li>
                        <li class='text-dark'>7 dogów - 12%</li>
                        <li class='text-dark'>15 dogów - 9%</li>
                        <li class='text-dark'>20 dogów - 7%</li>
                        <li class='text-dark'>50 dogów - 2.4%</li>
                        <li class='text-dark'>500 dogów - 0.5%</li>
                        <li class='text-dark'>2500 dogów - 0.1%</li>
                     </ul>`,
             html: true})
    })
</script>

<script>
    let scratch_timeout_p = document.getElementById("scratch_timeout_p")
    var scratch_timeout = "{{ scratch_timeout }}"
    if(scratch_timeout.includes(":"))
    {
        scratch_button.disabled = true
        scratch_timeout_p.innerHTML = "Możesz odebrać zdrapke za " + scratch_timeout + " minut"
        var scratch_timer = setInterval(update_scratch_timeout, 1000)
    }

    function update_scratch_timeout()
    {
        let min = parseInt(scratch_timeout.split(":")[0])
        let sec = parseInt(scratch_timeout.split(":")[1])
        if(sec==0)
        {
            min -= 1
            sec = 59
        }
        else
        {
            sec -= 1
            if(sec < 10)
            {
                sec = "0"+sec
            }
        }

        if(min==-1)
        {
            scratch_timeout_p.innerHTML = "Możesz odebrać zdrapke"
            scratch_button.disabled = false
            clearInterval(scratch_timer)
        }
        else
        {
            scratch_timeout = min + ":" + sec
            scratch_timeout_p.innerHTML = "Możesz odebrać zdrapke za " + scratch_timeout + " minut"
        }
    }
</script>
{% endblock %}