<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

* Modified by Dogson
-->
{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load math %}

{% block title %} Informacje {% endblock %}

{% block scripts %}
<script src="{% static 'bot_info/js/plugins/chartjs.min.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h1 class="card-title">Główne informacje</h1>
            </div>
            <div class="card-body">
                <h4>Status: <span class="text-danger">działa tylko na wybranych grupach, ponieważ obecnie fb ogranicza ilość możliwych wysyłanych wiadomości</span></h4>
                <h4>
                    Kod żródłowy bota:
                    <a href="https://github.com/DogsonPl/bot_for_messenger" target="_blank">
                        Github <i class="bi bi-github"></i>
                    </a>
                </h4>
                <h4>
                    Kod żródłowy strony:
                    <a href="https://github.com/DogsonPl/bot_for_messenger_website_django" target="_blank">
                        Github <i class="bi bi-github"></i>
                    </a>
                </h4>
                <h4><a href="{% url 'home:privacy_policy' %}">Polityka prywatności</a> </h4>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Twoje dzisiejsze statystyki</h2>
            </div>
            <div class="card-body">
                {% if user.is_authenticated %}
                    <h3 class="m-0">Betowanie</h3>
                    <p class="mt-2">Wygrałeś/aś dzisiaj: {{ player.today_won_money | floatformat:2}} dogecoinów</p>
                    <p>Przegrałeś/aś dzisiaj: {{ player.today_lost_money | floatformat:2 }} dogecoinów</p>
                    <p>Dzisiejszy profit na betowaniu:  {{ player.today_won_money | add:player.today_lost_money }} dogecoinów</p>
                    <h3 class="m-0 mt-3">Zdrapki</h3>
                    <p class="mt-2">Kupiłeś/aś dzisiaj: {{ player.today_scratch_bought }} zdrapek</p>
                    <p>Dzisiaj zdrapki dały ci: {{ player.today_scratch_profit }} dogecoinów</p>
                {% else %}
                    <h3><a href="{% url 'account:login' %}">Zaloguj się</a> żeby zobaczyć swoje statystyki</h3>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-chart">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-6">
                        <h2 class="card-title">Twoja liczba dogów</h2>
                    </div>
                    <div class="col-sm-6">
                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                            <label class="btn btn-sm btn-primary btn-simple active" id="0">
                                <input type="radio" name="options" checked>
                                <span>Cały czas</span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" id="1">
                                <input type="radio" class="d-none d-sm-none" name="options">
                                <span>Miesiąc</span>
                            </label>
                            <label class="btn btn-sm btn-primary btn-simple" id="2">
                                <input type="radio" class="d-none" name="options">
                                <span>Dzisiaj</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartBig1"></canvas>
                    {% if not user.is_authenticated %}
                    <div class="col-12 text-center" style="top: -65%;">
                        <p class="h3 ml-4"><a href="{% url 'account:login' %}">Zaloguj się</a> żeby zobaczyć swoje statystyki</p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h4 class="card-category">Suma dogów</h4>
                <h4 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>Obecnie gracze mają {{ coins_sum }} dogów</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLinePurple"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h4 class="card-category">Ostatnie wygrane w jackpotach</h4>
                <h4 class="card-title"><i class="tim-icons icon-delivery-fast text-info"></i>Największa wygrana: {{ biggest_jackpot_win  | floatformat:2}} dogecoinów</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="CountryChart"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card card-chart">
            <div class="card-header">
                <h4 class="card-category">Wykonane komendy przez bota</h4>
                <h4 class="card-title"><i class="tim-icons icon-send text-success"></i>Soon (wykres ma testowe dane)</h4>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="chartLineGreen"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p>Największa wygrana w jednym becie to {{ biggest_bet_win | floatformat:2 }} dogów przez {{ biggest_bet_winner }}</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p>Ostatnio w jackpocie {{ last_jackpot_win_prize }} dogecoinów wygrał/a {{ last_jackpot_winner }}</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Gracze z największą ilością dogów</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter">
                        <thead class=" text-primary">
                        <tr>
                            <th scope="col">
                                Nick
                            </th>
                            <th scope="col">
                                Dogecoiny
                            </th>
                            <th scope="col">
                                Wygrane bety
                            </th>
                            <th class="text-center" scope="col">
                                Przegrane bety
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in players %}
                        <tr>
                            <td>
                                {{ player }}
                            </td>
                            <td>
                                {{ player.money | floatformat:2}}
                            </td>
                            <td>
                                {{ player.won_bets |  intcomma }}
                            </td>
                            <td class="text-center">
                                {{ player.lost_bets |  intcomma }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title">Gracze z największą ilością legendarnych dogów</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table tablesorter">
                        <thead class=" text-primary">
                        <tr>
                            <th scope="col">
                                Nick
                            </th>
                            <th scope="col">
                                Legendarne DC
                            </th>
                            <th scope="col">
                                Wygrane bety
                            </th>
                            <th class="text-center" scope="col">
                                Przegrane bety
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for player in players_legendary %}
                        <tr>
                            <td>
                                {{ player }}
                            </td>
                            <td>
                                {{ player.legendary_dogecoins | floatformat:2}}
                            </td>
                            <td>
                                {{ player.won_bets |  intcomma }}
                            </td>
                            <td class="text-center">
                                {{ player.lost_bets |  intcomma }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var last_jackpots_wins = {{ last_jackpots_wins | safe }}
    var users_total_money_history = {{ users_total_money_history | safe }}
    var user_money_statistic_data = {{ user_money_statistic_data | safe }}
    var user_money_daily_statistic_data = {{ user_money_daily_statistic_data | safe }}
</script>
<script src="{% static 'bot_info/js/display_data.js' %}"></script>
<script>
    $(document).ready(function() {
        make_charts.initDashboardPageCharts();
    });
</script>

{% endblock %}
