{% extends "base.html" %}
{% block title %} Polityka prywatności {% endblock %}

{% block content %}
<ul>
    <li>Dostawcy zewnętrzni, w tym Google, używają plików cookie do wyświetlania reklam na podstawie wcześniejszych wizyt użytkownika w tej witrynie lub innych witrynach internetowych.
    Korzystanie przez Google z reklamowych plików cookie umożliwia jej i jej partnerom wyświetlanie reklam na podstawie Twojej akktywności w Internecie.
    Z spersonalizowanych reklam możesz zrezygnować <a href="https://adssettings.google.com/notarget">tutaj</a>.</li>
</ul>
{% endblock %}