.settings_block{
    width: 90%;
}

@media screen and (min-width: 768px){
    .settings_block{
        font-size: 2vw;
    }
}

@media screen and (max-width: 767px){
    .settings_block{
        top: 0px;
        font-size: 10vw;
    }
}

