{% extends "base.html" %}
{% load static %}

{% block title %} Ustawienia {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'login/css/account_settings.css' %}">
{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-md-6 mt-5 mt-md-0">
        <a href="{% url 'change_password' %}"><p class="btn btn-warning settings_block">
            Zmień hasło
        </p></a>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
        <a href="{% url 'account:change_nickname' %}"><p class="btn btn-warning settings_block">
            Zmień nick
        </p></a>
    </div>
</div>

<div class="row">
    <div class="col" id="achievements_div">
        <!-- todo bars -->
        <div class="row">
            <div class="col-5">
                <div class="list-group" id="achievements_list" role="tablist">
                    {% for i in player_achievements %}
                    <a class="list-group-item list-group-item-action bg-dark text-white" data-toggle="list" href="#list-{{i.achievement.name}}" role="tab" aria-controls="{{i.achievement.name}}">
                        {{i.achievement.name}}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="col-7">
                <div class="tab-content" id="achievement_info">
                    {% for i in player_achievements %}
                    <div class="tab-pane fade" id="list-{{i.achievement.name}}" role="tabpanel" aria-labelledby="list-{{i.achievement.name}}">
                        <p><span class="text-danger">{{i.achievement.name}}</span> - {{i.achievement.description}}</p>
                        <p><span class="text-danger">Twoje punkty</span>: {{i.player_score}} (poziom osiągniecia: {{i.achievement_level}})</p>
                        <p>Punkty wymagane do zdobycia osiągniecia: </p>
                        <ul style="list-style:none;">
                            <li>🥉 {{i.achievement.required_score_1}}</li>
                            <li>🥈 {{i.achievement.required_score_2}}</li>
                            <li>🥇 {{i.achievement.required_score_3}}</li>
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}