{% extends "base.html" %}
{% load static %}

{% block title %} Ustawienia {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'login/css/account_settings.css' %}">
{% endblock %}

{% block content %}
<div class="row text-center">
    <div class="col-md-6 mt-5 mt-md-0">
        <a href="{% url 'change_password' %}"><p class="btn btn-warning settings_block">
            Zmień hasło
        </p></a>
    </div>
    <div class="col-md-6 mt-5 mt-md-0">
        <a href="{% url 'account:change_nickname' %}"><p class="btn btn-warning settings_block">
            Zmień nick
        </p></a>
    </div>
</div>
{% endblock %}